@model LibusoftCicomMVC4.Entities.Partner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Partner</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">OIB</div>
    <div class="display-field">@Model.OIB</div>

    <div class="display-label">Contact</div>
    <div class="display-field">@Model.Contact</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PartnerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


