@model IEnumerable<LibusoftCicomMVC4.Entities.Partner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            OIB
        </th>
        <th>
            Contact
        </th>
        <th>
            Description
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PartnerId }) |
                @Html.ActionLink("Details", "Details", new { id=item.PartnerId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PartnerId })
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.OIB
            </td>
            <td>
                @item.Contact
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    }

</table>

<a href="/api/partnersXml">View partners XML</a>



